body,
html {
  height: 100%;
  margin: 0;
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
  align-content: center;
}

form {
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: white;
}

.btn-primary {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: white;
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-center {
  color: white;
}

.text-center a {
  color: #4cd137;
}

.text-center a:hover {
  text-decoration: underline;
  color: #44bd32;
}
